[Unit]
Description=Vector service
After=network.service
Requires=network-online.target
[Service]
User={{ ansible_user_id }}
Group={{ ansible_user_gid }}
ExecStart=/usr/bin/vector --config-yaml /home/locadm/vector.yml -w
Restart=always
[Install]
WantedBy=multi-user.target